<header class="functionality">
  <nav class="functionality-menu group">
     <div class="functionality-logo">
       <h2>Mail</h2>
     </div>

     <ul class="functionality-menu-list group">
       <!-- <li><button class="mark"><input onclick="checkAll()" type="checkbox"> &#x25BE;</button></li>
       <li><button class="refresh" name="refresh">Refresh</button></li>
       <li><button type="button" name="button">More &#x25BE;</button></li> -->
     </ul>

     <ul class="functionality-pagination-settings group">
       <!-- <li><button class="prevpage" type="button" name="button"><</button></li>
       <li><button class="nextpage" type="button" name="button">></button></li>
       <li><button type="button" name="button">Settings &#x25BE;</button></li> -->
     </ul>
  </nav>
</header>
