<%= render partial: 'header' %>

<main class="window group">
  <%= render partial: 'subheader' %>
  <section class="sidebar">
    <%= render partial: 'sidebar' %>
  </section>
  <section class="main">
  </section>
</main>
