<%= render partial: 'header' %>

<main class="window group">
  <%= render partial: 'subheader' %>
  <section class="sidebar">
    <%= render partial: 'sidebar' %>
  </section>
  <section class="indexview">
  </section>
  <section class="compose">
    <form class="" action="index.html" method="post">

    </form>

  </section>
</main>
