<div class="email-show-render">

<h1><%= thread.escape('subject') %></h1>
<hr><br>
<div class="email">
</div>
<!-- <#% thread.emails().each(function(email){ %>
  <ul>
    <li>from: <%#= email.escape('from') %></li>
    <li>to: </li>
    <li>date: <%#= email.escape('updated_at') %></li>
    <li>subject: <%#= thread.escape('subject') %></li>
  </ul>
  <br>
  <br>
  <%#= email.escape('body') %>
<% }) %> -->
<!-- <div class="email-show-render-body">

</div> -->

<br><br>
<hr>
</div>
