<ul>
  <li>from: <%= email.escape('from') %></li>
  <li>to: </li>
  <#% if email.bcc().length > 0 %>
    <li> </li>
  <#% end %>
  <#% if email.cc().length > 0 %>
    <li> </li>
  <#% end %>
  <li>date: <%= email.escape('updated_at') %></li>
  <li>subject: <%= thread.escape('subject') %></li>
</ul>
<br>
<br>
<%= email.escape('body') %>
