// Place all the styles related to the email_threads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.draft{
  color: red;
}
.star{
  display: inline-block;
  height: 16px;
  width: 10px;
  position: relative;
  top: 2px;
}
.is-not-starred {
  background-image: asset-url(star4);
  background-repeat: no-repeat;
}

.is-starred {
  background-image: asset-url(star-lit4);
  background-repeat: no-repeat;
}

.importance{
  display: inline-block;
  height: 16px;
  width: 20px;
  position: relative;
  top: 2px;
}
.is-not-important {
  background-image: asset-url(sprite_importance2);
  background-repeat: no-repeat -2px -42px;
}
.is-important {
  background-image: asset-url(sprite_importance2);
  background-repeat: no-repeat;
  background-position: -38px -38px;
}

.compose-close{
  float: right;
  position: relative;
  right: 5px;
  cursor: pointer;
}
