/*// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
html, body, header, footer, table, nav, main, section, textarea,
ul,h1, h2,li, input, a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  box-sizing: inherit;

  background: transparent;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
img{
  display: block;
  width: 100%;
  height: auto;
}
.group:after {
  content: "";
  display: block;
  clear: both;
}


header.header {
  height: 60px;
  border-bottom: 1px solid #e5e5e5;
  display: block;
}

header.header nav.header {
  height: 59px;
  background-color: rgb(237,237,237);
  border-bottom: 1px solid #e5e5e5;
}
.header-logo{
  font-weight: normal;
  font-size: 32px;
  float: left;
  position: relative;
  top: 10px;
  padding-left: 25px;
}
.blue{
  color: rgb(52, 108, 241);
}
.red {
  color: rgb(224, 47, 37);
}
.yellow {
  color: rgb(249, 175, 11);
}
.green{
  color: rgb(49, 153, 59);
}
.header-search-bar{
  float: left;
}

.header-list-group{
  padding: 20px;
  float: right;
}

.header-list-group > li{
  float: left;
}

.header-search-bar {
    position: relative;
    top: 15px;
    left: 85px;
    margin: auto;
    width: 580px;
  }
.header-search-bar > input {
    background: #fff;
    box-sizing: border-box;
    width: 530px;
    height: 28px;
    border: 1px solid #fff;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    float: left;
  }
.searchsubmit {
  position: relative;

  padding: 8px 4px;
   float: right;
}
.header-search-bar > input:hover {
    border-color: #000;
  }
.header-search-bar> input:focus {
    border-color: #06f;
  }
.header-list-group {
  font-size: 14px;
  color: #888;
}
.icon-grid {
    display: block;
    position: relative;
    background: #777;
    margin: 0 7px 0 25px;
    width: 16px;
    height: 16px;
}
.icon-grid:hover {
  background: #333;
}
.icon-grid:after,
.icon-grid:before {
  content: "";
  display: block;
  position: absolute;
  border: 2px solid #fff;
}
.icon-grid:before {
  top: 0;
  left: 4px;
  width: 4px;
  height: 16px;
  border-top: 0;
  border-bottom: 0;
}
.icon-grid:after {
  top: 4px;
  left: 0;
  width: 16px;
  height: 4px;
  border-left: 0;
  border-right: 0;
}

.notifications {
  display: block;
  position: relative;
  background: #777;
  margin: 0 7px 0 15px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
}
.notifications:hover {
  background: #333;
}

.profile-icon {
  display: inline-block;
  position: relative;
  top: -5px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 10px;
  background: asset-url(icon);
  background-size: 100%;
}

.profileDropdown{
  z-index: 2;
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,.2);
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  right: 0;
  top: 44px;
  width: 273px;
  height: 185px;
}

.profile-icon:hover .dropdown {
  display: block;
}
.empty-category-message {
  position:relative;
  width: 95%;

  display: block;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.window .functionality{
  display: block;
  height: 30px;
  border-bottom: 1px solid #e5e5e5;
}
#more {
  cursor: pointer;
}
.functionality-menu{
  display: block;
}
.functionality-logo {
  display: block;
  width: 180px;
}

.functionality-menu-list{
  display: block;
  width: auto;
  float: left;
  position: relative;
  top: -6px;
}

.functionality-menu-list > li{
  float: left;

}
.functionality-menu-list > li > button {
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  margin-right: 16px;
  height: 27px;
  line-height: 27px;
  min-width: 54px;
  outline: 0;
  padding: 0 8px;
  background: rgb(240,240,240);
  border-radius: 2px;
  border: 1px solid #ccc;
}

.functionality-menu-list > li button.refresh {
      opacity: .55;

}
.functionality-logo > h2 {
  float: left;
  text-align: left;
  color: #d14836;
  font-weight: normal;
  font-size: 20px;
  position: relative;
  top: -5px;
  padding-left: 30px;
  padding-right: 136px;
}

.functionality-pagination-settings {
  float: right;
  position: relative;

  top: -6px;
  left: -30px;

}
.functionality-pagination-settings > li {
  float: left;
}
.functionality-pagination-settings > li:last-child{
  margin-left: 15px;
}
.functionality-pagination-settings > li > button {
  padding: 6px 15px;
  background: rgb(240,240,240);
  border-radius: 2px;
  border: 1px solid #ccc;

}
.sidebar {
  width: 210px;
  margin-right: 1px;
  float: left;
  min-height: 220px;
  font-size: 80%;
}


.sidebar button {
  min-width: 115px;
  background-color: #d14836;
  border: 1px solid transparent;
  color: white;
  border: 0px;
  border-radius: 2px;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  height: 29px;
  line-height: 27px;
  padding: 0 8px;
  margin: 10px 33px 10px 33px;
}
.sidebar .folder {
  margin-left: 15px;
}

.sidebar .folder li a:hover {
  background-color: rgb(237,237,237);
}
.sidebar .folder li a{
  display: block;
  padding: 5px 20px;
  position: relative;
  margin-right: 20px;
  color: black;
  padding-left: 18px;
}

.sidebar .folder li a strong {
  font-weight: bold;
}
.sidebar .folder li.selected a {
  color: #d14836;
}
.indexview {
  background-color: white;
  font-size: 80%;
  margin-left: 210px;
  min-height: 741px;

}
.indexview form.create-email {
  margin-left: 210px;
  border: 2px solid gray;
}
.indexview form.create-email > input {
  border: 0px solid;
  height: 41px;
  font-size: 13px;
  background: transparent;
  min-width: 470px;
  max-width: 1056px;
}
.indexview form.create-email > input:focus {
  outline: none
}

.indexview form.create-email > nav {
  background-color: #404040;
  color: white;
  height: 30px;
  vertical-align: middle;
}

.indexview form.create-email nav > span{
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  padding: 4px 0 0 6px;
  font-family: arial,sans-serif;
  font-size: 13px;
}
.indexview form.create-email textarea#email_body {
  min-height: 551px;;
  width: 549px;
  z-index: -2;
  border: 0px;
  resize: none;
  outline: none;
  font-size: 13px;
}

.indexview form.create-email footer.email-form-footer {
  border-top:  1px solid rgb(237,237,237);
  background-color: #e5e5e5;
  height: 44px;
}
.indexview form.create-email footer.email-form-footer button {
  background-color: #4d90fe;
  border: 1px solid #3079ed;
  color: #fff;
  border-radius: 2px;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  height: 27px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 8px;
}
.email-show {
  padding: 15px 0;
  list-style: none;
  width: 97%;
  border-bottom: 1px solid #ccc;
  background: #e5e5e5
}

.unread{
  background: #fff;
}
.email-show li {
  display: block;
  float: left;
}

.checkbox, .star, .important {
  padding: 0 5px;
}

.email-show {
  cursor: pointer;
}

.email-show-render > h1 {
  padding-top: 10px;
  font-size: 24px;
}

.email-show-render hr {
  width: 80%;
  float: left;
  font-weight: lighter;
}

.email-show-render-body {
  width: 78%
}

.email-show .from{
  display: block;
  width: 15%;
}

.email-show .subject_body{
  display: block;
  width: 65%;
  white-space: nowrap;
  overflow: hidden;
}
.email-show .paperclip{
  display: block;
   width: 5%;
}

.email-show .date_time{
  float: right;
  display: block;
  width: 5%;
  padding: 0 10px;
}
.grey {
  display: inline;
  color: #aaa;
}
input[type=checkbox]{
  border-radius: 0;
}

.star-five{
  padding-right: 10px;
}

.important {
  padding-right: 10px;
}


.create-email {
  display: block;
  height: 20%;
  width: 50%;
}
.create-email .to,
.create-email .cc,
.create-email .bcc,
.create-email .subject{
  width: 100%;
  display: table;
  border-bottom: 1px solid #ccc;
}
.create-email label {
  display: table-cell;
  width: 10px;
  padding: 10px;
}
.create-email input{
  padding: 10px 0;
  width: 100%;
}

.submitLink {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  padding: 5px 20px;
  position: relative;
  // margin-right: 20px;
  color: black;
  padding-left: 18px;
}

.submitLink:hover {
  background-color: rgb(237,237,237);
}
